.homeMain {
  padding-left: 40px;
  height: 950px;
}
.best > h2 {
  margin: 0px;
}
.bestCards {
  display: flex;
  flex-wrap: wrap;
}
.bestCard {
  width: 380px;
  min-width: 250px;
  /* border: 3px solid gray; */
  border-radius: 20px;
  margin-right: 50px;
}
.bestCardImage {
  width: 380px;
  min-width: 250px;
}
.bestCardInfo {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.bestCardInfoLikeCount {
  text-align: right;
  margin-top: 5px;
}
.category {
  margin-bottom: 90px;
}
.category > h2 {
  margin-bottom: 30px;
}
.categoryBtns {
  display: flex;
}
