@font-face {
  font-family: "EliceDigitalBaeum_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: "EliceDigitalBaeum_Bold";
  background-color: black;
  color: white;
}
.header {
  background-color: black;
  color: white;
  height: 180px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}
.headerLogo {
  width: 120px;
  height: 120px;
}
.headerTitle {
  margin-right: 20px;
  font-size: 50px;
}
.headerTop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
}
.headerTopLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerTopText {
  font-size: 20px;
}
.headerTopButton {
  width: 100px;
  height: 50px;
  border: 3px solid white;
  border-radius: 15px;
  background-color: transparent;
  color: white;
  font-size: 17px;
  margin-left: 15px;
}
.headerTopButton:hover {
  background-color: blueviolet;
  border: none;
}
